$font-family: 'Commissioner', sans-serif;


//font-size
$xlargeFontSize: 28px;
$largeFontSize: 23px;
$baseFontSize: 19px;
$smallFontSize: 16px;
$xsmallFontSize: 12px;


//colors
$white: #FFFFFF;
$grey: #F5F0F0;
$black: #262626;
$durazno: #FF9696;
$pink: #FFCBE1;
$gradient: linear-gradient(180deg, #FCFFEA 23.96%, #FFCBE1 72.40%, #FFCBCB 100%);
$blue: #3046BB;
$lightBlue: #566FF5;
$gradient-blue: linear-gradient(180deg, #566FF5 0%, #3046BB 100%);


