<footer class="container-footer">
    <div class="container">
        <div class="footer__text">
            <p>Любое использование материалов сайта допускается только
                с разрешения Сервиса, при условии размещения активной ссылки, © 2009–2023 Astro7</p>
        </div>
    </div>
</footer>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js'></script>
<script src="script/script.js"></script>
</body>
</html>
