<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Description of the page less than 150 characters">
    <meta name="msapplication-config" content="browserconfig.xml" />


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css'>

    <link rel="stylesheet" type="text/css" href="css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <title>Astro7</title>
</head>
<body>
<header>
    <div class="container">
        <div class="block-logo">
            <div class="block-logo__logo">
                <img src="img/header/logo.svg" alt="">
            </div>
        </div>
    </div>
</header>
